<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ndp_invest_helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="DapperSQLite" connectionString="Data Source=.\data\info\sqlite.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <ndp_invest_helper.Properties.Settings>
      <setting name="CommonDataSource" serializeAs="String">
        <value>SqliteDb</value>
      </setting>
      <setting name="BrokerReportsDirectory" serializeAs="String">
        <value>data\reports</value>
      </setting>
      <setting name="WriteLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDifferenceFrom" serializeAs="String">
        <value>Origin</value>
      </setting>
      <setting name="CommonDataDirectory" serializeAs="String">
        <value>data\info</value>
      </setting>
      <setting name="Cash" serializeAs="String">
        <value>RUB=1000</value>
      </setting>
    </ndp_invest_helper.Properties.Settings>
  </userSettings>
</configuration>
