<?xml version="1.0" encoding="utf-8" ?>

<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!--
	Используемые файлы.
	
    securities_info: список бумаг, эмитентов, фондов
    countries_info: список стран
    sectors_info: список отраслей
    info_dir: директория с общей информацией по бумагам
    reports_dir: директория с отчетами брокеров
    task_output: файл для записи результатов выполнения задач
    log: файл журнала
		database: файл локальной базы данных по бумагам
	  db_create_script: файл со скриптом создания пустой базы
    -->
	<files
	  reports_dir = "data\reports"

	  info_dir = "data\info"
	  securities_info = "securities.xml"
	  countries_info = "countries.xml"
	  currencies_info = "currencies.xml"
	  sectors_info = "sectors.xml"
		database = "sqlite.db"
	  db_create_script = "db_create.sql"

	  task_output = "task.txt"
	  log = "log.txt"
    />

	<!--
	Настройки приложения.

    write_log: 
		писать ли журнал действий в файл из files.log? "yes" - писать, иначе - нет

	show_difference_from: 
		"origin" - показывать изменения по сравнению с изначальным состоянием портфеля.
			Полезно, если совершено несколько сделок, 
			и нужно посмотреть их накопленный эффект на портфель.
		"last_deal" - показывать изменения по сравнению с результатом предыдущей cделки. 

  data_source - источник данных по бумагам:
	  "database" - база
		"xml" - набор xml файлов
    -->
	<options
	  write_log = "yes"
		show_difference_from = "origin"
		data_source = "database"
    />

</Settings>
